
a {
    color: #7367f0 !important;
    text-decoration: none;
}

.congratulation-medal {
    position: absolute;
    top: 0;
    right: 37px;
}

.border-right-solid {
    border-right: 1px solid #d8d6de;
}

.border-top-solid {
    border-top: 1px solid #d8d6de;
}
