@namespace MASA.Blazor.Pro.Dashboards

<MListItem>
    <MIcon Color=purple>fas fa-seedling</MIcon>
    <h3 class="ml-6">MASA Blazor Pro</h3>
</MListItem>

<MSubheader>Dashboards</MSubheader>

<MListItem Link Href="/dashboard/ecommerce">
    <MListItemIcon>
        <MIcon>fas fa-chart-line</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">eCommerce</MListItemTitle>
    </MListItemContent>
</MListItem>

<MListItem Link Href="/dashboard/analytics">
    <MListItemIcon>
        <MIcon>fas fa-chart-bar</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">Analytics</MListItemTitle>
    </MListItemContent>
</MListItem>

@code {

}
