@using Microsoft.AspNetCore.Components.Rendering
@inherits DemoCompontentBase
@inject NavigationManager NavigationManager
@inject List<NavCategory> NavCategorys

@RenderCurrentBreadcrumbItem

@code {
    public override string Name { get; } = "Breadcrumb";

    List<string> _allNavHrefs = new List<string>();

    protected override void OnInitialized()
    {
        foreach (var navCategory in NavCategorys)
        {
            foreach (var nav in navCategory.Navs)
            {
                if (nav.Childs is not null)
                {
                    _allNavHrefs.AddRange(nav.Childs.Select(nc => nc.Href.TrimStart('/')));
                }
                else _allNavHrefs.Add(nav.Href.TrimStart('/'));
            }
        }
    }

    void RenderCurrentBreadcrumbItem(RenderTreeBuilder __builder)
    {
        string route = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        if (route == "") route = GlobalVariables.DefaultRoute;

        var currentNavHref = _allNavHrefs.FirstOrDefault(n => route.Contains(n));
        if (currentNavHref is not null)
        {
            var items = new List<BreadcrumbItem>();
            var steps = currentNavHref.Split("/");
            foreach (var step in steps)
            {
                var text = LanguageProvider.LanguageMap.FirstOrDefault(l => l.Key.ToLower() == step.ToLower().Replace("-", " ")).Value ?? step;
                items.Add(new BreadcrumbItem { Text = text, Href = "javascript:void(0);" });
            }
            items.Last().Href = currentNavHref;

            <div class="d-flex block-center pb-6">
                <div class="text-subtitle">
                    @items.Last().Text
                </div>
                <div class="mx-4 border-solid" style="height:16px;width:0.5px;" />
                <MIcon Small Color="primary" OnClick="()=>NavigationManager.NavigateTo(GlobalVariables.DefaultRoute)">fas fa-home</MIcon>
                <MIcon Small Class="mx-3">mdi-chevron-right</MIcon>
                <MBreadcrumbs Linkage Items=items Class="pa-0">
                    <DividerContent>
                        <MIcon Small>mdi-chevron-right</MIcon>
                    </DividerContent>
                </MBreadcrumbs>
            </div>
        }
    }
}
