# include:
#   - project: 'louzhijian/devops'
#     ref: master
#     file: 'devops/sonar-scanner.yml'

stages:
#   - sonarqube
#   - docker-dev
#   - deploy-dev
  - docker-prd
  - deploy-prd

variables:
  # DOCKER_HOST: tcp://localhost:2375/
  IMAGE: $CI_ALI_REGISTRY_DOMAIN/masa/masa-blazor-pro:0.0.$CI_PIPELINE_ID
  IMAGE_PRD: $CI_ALI_REGISTRY_DOMAIN/masa/masa-blazor-pro:$CI_COMMIT_TAG

# docker:
#   stage: docker-dev
#   tags:
#     - linux-shell
#   before_script:
#     - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
#   only:
#      - main
#   script:
#     - docker build --force-rm  -f ./Masa.Blazor.Pro/Dockerfile -t $IMAGE .
#     - docker push $IMAGE
#   retry: 2

# deploy-dev:
#   image: portainer/kubectl-shell
#   stage: deploy-dev
#   only:
#     - main
#   script:
#     - echo $KUBE_CONFIG_DEV_YDY | base64 -d > ./config
#     - kubectl --kubeconfig ./config set image deployment/masa-blazor-pro masa-blazor-pro=$IMAGE -n masa-blazor
#   retry: 2

docker-prd:
#   image: docker:17.05.0
  stage: docker-prd
  tags:
    - linux-shell
  only:
    - tags
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
#   services:
#     - name: $CI_ALI_REGISTRY_DOMAIN/masa/library:docker-17.05.01-dind
  script:
#     - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
    - docker build --force-rm  -f ./Masa.Blazor.Pro/Dockerfile -t $IMAGE_PRD .
    - docker push $IMAGE_PRD
  after_script:
    - docker rmi $IMAGE_PRD
  retry: 2

deploy-prd:
#   image: portainer/kubectl-shell
  tags:
    - linux-shell
  stage: deploy-prd
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_MASA_YDY | base64 -d > ./config
    - kubectl  --kubeconfig ./config set image deployment/masa-blazor-pro masa-blazor-pro=$IMAGE_PRD -n masa-blazor
  retry: 2  
