.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
}

.coupons.m-text-field > .m-input__control > .m-input__slot:before {
    border-color: transparent;
    border-style: hidden;
}

.coupons.m-text-field > .m-input__control > .m-input__slot:after {
    border-color: transparent;
    border-style: hidden;
}

.max-height {
    height: 100% !important;
}

.max-width {
    width: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 250px;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.hide {
    display: none;
}

.text-description {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-right-solid {
    border-right: 1px solid #ebe9f1;
}

.congratulation-medal {
    position: absolute;
    top: 0;
    right: 37px;
}

.a {
    color: #7367f0 !important;
    text-decoration: none;
}

.border-top-solid {
    border-top: 1px solid #d8d6de;
}

.border-solid {
    border: 1px solid #d8d6de;
}
.card-text {
    line-height: 1.5rem;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pro-nav > .m-tabs-bar {
    background-color: transparent !important;
}

.pro-nav .m-tabs-bar__content .m-tab:not(:first-child) {
    padding-left:0px;
}

.pro-nav .m-tabs-bar__content .m-tab span{
    margin-left:10px;
}

.pro-nav .m-tabs-bar__content .m-tab:not(:last-child) .pro-nav-title::after {
    content: ">";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.14rem;
    margin-left: 10px;
}

.pro-nav .m-tab:before {
    background-color: transparent;
}

.m-btn {
    text-transform: none !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.list-unstyled {
    list-style: none;
}

.vertical-center {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.navigation .m-icon {
    font-size: 20px !important;
    margin-left:4px;
}

.linear-gradient-purple {
    background: linear-gradient(118deg,#7367f0,rgba(115,103,240,.7))
}

.grey-bg {
    background-color: #f8f8f8;
}


