<MListItem>
    <MIcon Color=purple>fas fa-seedling</MIcon>
    <h3 class="ml-6">MASA Blazor Pro</h3>
</MListItem>

<MSubheader>Apps</MSubheader>

<MListItem Link Href="/apps/analytics">
    <MListItemIcon>
        <MIcon>fas fa-tachometer-alt</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">Aanalytics</MListItemTitle>
    </MListItemContent>
</MListItem>

<MListItem Link Href="/apps/ecommerce">
    <MListItemIcon>
        <MIcon>fas fa-shopping-cart</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">eCommerce</MListItemTitle>
    </MListItemContent>
</MListItem>

<MListItem Link Href="/apps/email">
    <MListItemIcon>
        <MIcon>fas fa-envelope</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">Email</MListItemTitle>
    </MListItemContent>
</MListItem>

<MListItem Link Href="/apps/chat">
    <MListItemIcon>
        <MIcon>fas fa-comment-alt</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">Chat</MListItemTitle>
    </MListItemContent>
</MListItem>

<MListItem Link Href="/apps/todo">
    <MListItemIcon>
        <MIcon>fas fa-check-square</MIcon>
    </MListItemIcon>
    <MListItemContent>
        <MListItemTitle Class="subtitle-1">Todo</MListItemTitle>
    </MListItemContent>
</MListItem>

@code {

}
