@page "/pages/authentication/Login-v2"
@layout EmptyLayout
<MRow>
    <MCol Md=5 Sm=12 Class="neutral-lighten-5" Style="height:100vh;">
        <image class="ml-9 mt-9" src="https://cdn.masastack.com/stack/images/logo/MASAStack/logo-h-en.png?x-oss-process=image/resize,w_200"></image>
        <div style="width:600px;" class="ma-auto mt-12">
                <h2 class="neutral-lighten-1--text">让变化更简单</h2>
                <div class="mt-12 neutral-lighten-1--text">
                    让变化更简单，让视觉更美好，让体验更丰富，欢迎来的MASA产品系列。
                </div>
                <image class="mt-12" src="/img/login/left.png"></image>
        </div>
    </MCol>
    <MCol Md=7 Sm=12 Class="fill-lighten-1 block-center">
        <MASA.Blazor.Pro.Components.Login HideLogo
                                          Elevation="0"
                                          Width="500"
                                          CreateAccountRoute="pages/authentication/register-v2"
                                          ForgotPasswordRoute="pages/authentication/forgot-password-v2"
                                          SlinInClick="Login">
        </MASA.Blazor.Pro.Components.Login>
    </MCol>
</MRow>

@code {
    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    public void Login(MouseEventArgs args)
    {
        Navigation.NavigateTo(Navigation.BaseUri);
    }
}
