@inherits DemoCompontentBase
@inject NavigationManager NavigationManager
@inject List<NavCategory> NavCategorys

@{
    var items = GetBreadcrumbItems();
}
@if (items.Count > 0)
{
    <div class="d-flex block-center pb-6 pt-1">
        <div class="text-subtitle">
            @items.Last().Text
        </div>

        <div class="mx-4 border-solid" style="height:16px;width:0.5px;"/>

        <MBreadcrumbs Linkage Class="pa-0">
            <DividerContent>
                <MIcon Small>mdi-chevron-right</MIcon>
            </DividerContent>
            <ChildContent>
                <MBreadcrumbsItem Href="@GlobalVariables.DefaultRoute">
                    <MIcon Small Color="primary">fas fa-home</MIcon>
                </MBreadcrumbsItem>
                @foreach (var item in items)
                {
                    <MBreadcrumbsItem @key=item Href="@item.Href">@item.Text</MBreadcrumbsItem>
                }
            </ChildContent>
        </MBreadcrumbs>
    </div>
}


@code {
    public override string Name { get; } = "Breadcrumb";

    List<Nav> _navs = new List<Nav>();

    protected override void OnInitialized()
    {
        foreach (var navCategory in NavCategorys)
        {
            foreach (var nav in navCategory.Navs)
            {
                _navs.Add(nav);
                if (nav.Childs is not null)
                {
                    _navs.AddRange(nav.Childs);
                }
            }
        }
    }

    List<BreadcrumbItem> GetBreadcrumbItems()
    {
        var items = new List<BreadcrumbItem>();
        var currentNav = _navs.FirstOrDefault(n => n.Href is not null && NavigationManager.Uri.Contains(n.Href));
        if (currentNav is not null)
        {
            if (currentNav.ParentId != 0)
            {
                var parentNav = _navs.First(n => n.Id == currentNav.ParentId);
                var href = parentNav.Href;
                if (string.IsNullOrEmpty(href))
                {
                    href = parentNav?.Childs?.FirstOrDefault()?.Href;
                }

                items.Add(new BreadcrumbItem { Text = T(parentNav.Title), Href = href });
            }
            items.Add(new BreadcrumbItem { Text = T(currentNav.Title), Href = currentNav.Href });
            items.Last().Href = currentNav.Href;
        }
        return items;
    }
}