@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase

<MApp>
    <MAppBar Elevation=0 App MaxHeight=60 Class="mx-6 rounded-b-4">
        <MToolbar Elevation=0 Class="rounded-b-4">
            <Favorite />
            <MSpacer />
            <Search />
            <MIcon Size=20 Class="ml-5" Color="neutral-lighten-3">mdi-message-processing-outline</MIcon>
            <Language />
            <Login />
        </MToolbar>
    </MAppBar>

    <Navigation />
  
    <MMain Class="fill-lighten-1" Style="padding-top:60px">       
        <div class="pa-6 max-width">      
            <Breadcrumb></Breadcrumb>
            @Body
        </div>
    </MMain>
</MApp>