@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase
@inject I18n LanguageProvider
@inject GlobalConfigs GlobalConfig
@inject NavigationManager NavigationManager
@inject List<NavCategory> NavCategorys
@inject List<LanguageSetting> LanguageSettings

<MApp Dark="GlobalConfig.IsDark">

    <MAppBar Elevation=0 App MaxHeight=60 Class="px-6">
        <MToolbar Elevation=0 Class="rounded-b-4">
            <MIcon Size=20 Class="ml-10" Color="neutral-lighten-4">mdi-heart</MIcon>
             <MAppBarNavIcon @onclick="()=>GlobalConfig.NavigationMini=!GlobalConfig.NavigationMini"></MAppBarNavIcon>
            <MSpacer></MSpacer>

          @*  <MMenu OffsetY Bottom>
                <ActivatorContent>
                    <MChip Label Color="white" @attributes="@context.Attrs">
                        @_currentLanguageSetting?.Text
                    </MChip>

                </ActivatorContent>
                <ChildContent>
                    <MList>
                        <MListItemGroup>
                            @foreach (var option in LanguageSettings)
                            {
                                <MListItem OnClick="()=> OnLanguageChange(option)" Value="(StringNumber)option.Value">
                                    <MListItemContent>
                                        <MListItemTitle>
                                            @option.Text
                                        </MListItemTitle>
                                    </MListItemContent>
                                </MListItem>
                            }
                        </MListItemGroup>
                    </MList>
                </ChildContent>
            </MMenu>
*@
            <div style="width:340px;height:40px;">
                <MTextField TValue="string" Class="rounded-2" Flat Dense Solo BackgroundColor="fill-lighten-1" Placeholder="Search">
                    <PrependInnerContent>
                        <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>
            </div>

            <MIcon Size=20 Class="ml-5" Color="neutral-lighten-4">mdi-message-processing</MIcon>

            <MIcon Size=20 Class="ml-10" Color="neutral-lighten-4">mdi-cart-outline</MIcon>

            <MIcon Size=20 Class="ml-10" Color="neutral-lighten-4">mdi-google-translate</MIcon>

            <div class="ml-5 text-center" style="width:88px;">
                <MAvatar Size=40>
                    <MImage Src="/img/avatar/avatar-s-20.jpg"></MImage>
                </MAvatar>
            </div>
           @* <Login />*@
        </MToolbar>
    </MAppBar>

    <MNavigationDrawer MiniVariantWidth=80 Width=300 @bind-MiniVariant="GlobalConfig.NavigationMini" App>
        <Navigation />
    </MNavigationDrawer>

    <MMain Class="fill-lighten-1" Style="padding-left:300px;padding-top:60px">
        <div class="pa-6">
             @*@RenderCurrentBreadcrumbItem*@
             @Body
        </div>      
    </MMain>
</MApp>


@code {
    LanguageSetting? _currentLanguageSetting;
    List<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>();
    List<string> allNavHrefs = new List<string>();

    protected override void OnInitialized()
    {
        _currentLanguageSetting = LanguageSettings.FirstOrDefault(o => o.Value == (GlobalConfig.Language ?? LanguageProvider.CurrentLanguage));
        LanguageProvider.SetLang(_currentLanguageSetting?.Value ?? LanguageProvider.CurrentLanguage);
        foreach(var navCategory in NavCategorys)
        {
            foreach (var nav in navCategory.Navs)
            {
                if (nav.Childs is not null)
                {
                    allNavHrefs.AddRange(nav.Childs.Select(nc => nc.Href.TrimStart('/')));
                }
                else allNavHrefs.Add(nav.Href.TrimStart('/'));
            }
        }
    }

    void OnLanguageChange(LanguageSetting setting)
    {
        _currentLanguageSetting = setting;
        LanguageProvider.SetLang(setting.Value);
        GlobalConfig.Language = setting.Value;
        GlobalConfig.SaveChanges();      
    }

    void RenderCurrentBreadcrumbItem(RenderTreeBuilder __builder)
    {
        string route = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        if (route == "") route = GlobalVariables.DefaultRoute;

        var currentNavHref = allNavHrefs.FirstOrDefault(n => route.Contains(n));
        if (currentNavHref is not null)
        {
            var items = new List<BreadcrumbItem>();
            var steps = currentNavHref.Split("/");
            foreach (var step in steps)
            {
                var text = LanguageProvider.LanguageMap.FirstOrDefault(l => l.Key.ToLower() == step.ToLower().Replace("-", " ")).Value ?? step;
                items.Add(new BreadcrumbItem { Text = text, Href = "javascript:void(0);" });
            }
            items.Last().Href = currentNavHref;

            <div class="d-flex mb-1">
                <div class="text-h5 black--text pt-3">
                    @items.Last().Text
                </div>
                <MDivider Vertical class="ml-4 mt-3" style="height:30px;" />
                <MIcon Small Class="ml-4" Color="deep-purple" OnClick="()=>NavigationManager.NavigateTo(GlobalVariables.DefaultRoute)">fas fa-home</MIcon>
                <MIcon Small class="ml-2">mdi-chevron-right</MIcon>
                <MBreadcrumbs Linkage Items=items Class="ml-n3">
                    <DividerContent>
                        <MIcon Small>mdi-chevron-right</MIcon>
                    </DividerContent>
                </MBreadcrumbs>
            </div>
        }
    }
}