@inherits ProCompontentBase
@inject GlobalConfig GlobalConfig

<MNavigationDrawer Value=Show ValueChanged=ShowChanged Fixed Right Temporary Width="300">
    <PrependContent>
        <MContainer>
            <MToolbar Flat Height="80">
                <h5>
                    @T("Settings")
                </h5>
            </MToolbar>
        </MContainer>
    </PrependContent>
    <ChildContent>
        <MContainer>
            <h6>@T("Mode")</h6>
            <MButtonGroup Mandatory Value=GlobalConfig.PageMode ValueChanged="PageModeChanged" class="mt-1">
                <MButton Value="PageModes.Breadcrumb"  Text Width="135">@T("Breadcrumb")</MButton>
                <MButton Value="PageModes.PageTab" Text Width="135">@T("PageTab")</MButton>
            </MButtonGroup>
        </MContainer>
    </ChildContent>
</MNavigationDrawer>

@code {
    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public EventCallback<bool> ShowChanged { get; set; }

    void PageModeChanged(StringNumber value)
    {
        GlobalConfig.PageMode = value.ToString();
    }
}